<section id="projects" class="mt-4">
  <h2 class="text-primary mb-3">Proyectos Destacados (GitHub)</h2>

  <div *ngIf="isLoading" class="alert alert-info">Cargando proyectos desde GitHub...</div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div class="row row-cols-1 g-4" *ngIf="!isLoading && projects.length > 0">
    
    <div class="col" *ngFor="let project of projects">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          
          <h5 class="card-title text-secondary d-flex justify-content-between align-items-baseline">
            <a [href]="project.html_url" target="_blank">{{ project.name }}</a>

            <span class="star-count">
              ⭐ {{ project.stargazers_count }}
            </span>
          </h5>
          
          <p class="card-text">
            {{ project.description || 'Sin descripción disponible.' }}
          </p>

          </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && projects.length === 0" class="alert alert-warning">
      No hay proyectos para mostrar.
  </div>
</section>