

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* otros fonts Book Antiqua, Garamond, Calibri, Helvetica, Cambria, Trebuchet MS */
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

main {
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}