<section>
<h2 class="text-primary mt-4 mb-3">Habilidades Técnicas y Tecnologías</h2>

<input type="text" id="skills-search" placeholder="Buscar habilidades..." style="width: 100%; padding: 8px; margin-bottom: 10px;" [(ngModel)]="searchTerm">
<div class="card p-3">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
        <h3 class="card-title text-secondary">Tecnologías y Herramientas</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let skill of technologies | filterSkills: searchTerm">{{ skill }}</li>
        </ul>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
        <h3 class="card-title text-secondary">Lenguajes de Programación</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let skill of languages | filterSkills: searchTerm">{{ skill }}</li>
        </ul>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
        <h3 class="card-title text-secondary">Soft Skills</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let skill of softSkills | filterSkills: searchTerm">{{ skill }}</li>
        </ul>
        </div>
    </div>
    </div>
</div>
</div>
</section>