/* Headers para secciones */
h2 {
    color: #0077B6;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table thead tr {
    background-color: #0077B6;
    color: white;
}

/* Estilos para el modo oscuro */
:host-context(.dark-mode) h2 {
    color: #4CAF50;
}

:host-context(.dark-mode) table thead tr {
    background-color: #4CAF50;
}

:host-context(.dark-mode) table,
:host-context(.dark-mode) table th,
:host-context(.dark-mode) table td {
    background-color: #1e1e1e;
    color: #f4f4f4;
    border-color: #444;
}

:host-context(.dark-mode) table thead tr {
    background-color: #4CAF50;
}